.topnav {
    display: block;
    top: 0px;
    left: 0px;
    width: 100%;
    position: fixed;
    background-color: #ffffff;
}

.topnav_left{
    display: block;
    width:15%;
    float:left;
    margin-left: 200px;
    background-color: #4aaaa5;
}

.topnav_right{
    display: block;
    width: 50%;
    float: right;
    margin-right: 200px;

}

.topnav_right ul{
    float: right;
    margin-right: 30px;
}

.topnav_right ul li{
    padding-left: 5px;
}
li {list-style: none;
    display: inline-block;
}

a {text-decoration: none
}

.topnav #a2, #a3, #a4 {color: aqua; right:500px; float: right;
}

.a {text-align: right;
}

.body {
    width: 960px;
    display: block;
    margin-top: 40px;
    margin-right: 200px;
    margin-left: 200px;
    margin-bottom: 100px; 
    background-color:#ffffff;
    border-width: 20px;
    border-style: solid;
    border-color: transparent;
}

img {
    height: 200px;
    width: 200px;
}

#image {
    float: left;
    border: 5px solid transparent;
    position: relative;
}

.footer{
    overflow: hidden;
    border-top: 5px;
    border-style: solid;
    border-top-color:#4aaaa5;
    position: fixed;
    width: 100%;
    height: 30x;
    background-color: #666666;
    bottom: 0;
}

.copyright {
    text-align: center;
    margin-bottom: 0px;
}

.a1 { font-size: 20px;
}

body {
    background-color: #ededed;
}

.aboutme {
    height: 60px;
    overflow: hidden;
    margin-top: 0px;
    position: relative;
}

#aboutme {
    margin-top: -10px;
}

a:visited {
    color: red;
}
a:hover {
    color: hotpink;
    font-weight: bold;
}

a:link {
    color: black;
}

a:active {
    color: black;
}

.content {
    position: relative;
}


